(hexagon_error) {
    handle_errors {
        root * /var/www/hexagon-backup
        try_files {path} /error.html

        header * {
            Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
            Pragma "no-cache"
            Expires 0
        }

        file_server {
            status 200
        }
    }
}

http://api.hexagon.pw, http://hexagon.pw, http://www.hexagon.pw {
    log
    import hexagon_error
    
    reverse_proxy {
	to http://web:3000
        header_up Host "hexagon.pw"
        header_up Origin "https://hexagon.pw"
        header_up CF-Connecting-IP {header.cf-connecting-ip}
    }

    uri path_regexp /{2,} /
}